.svg-content {
    display: block;
    max-width: 100%;
    height: auto;
}

.input-desc{
    font-family: sans-serif;
    font-size: 14px;
}

.slider{
    height: 10px;
}

.label{
    font-family: sans-serif;
    font-size: 14px;
}

.dot{
    stroke: black;
    stroke-width: 1;
}

.line{
    fill: none;
}